<section class="airline">
  <app-airlines-item
    [image]="imageUrl"></app-airlines-item>
  {{ imageUrl }}
</section>

<div
  class="flights-wrapper" id="flights-wrapper"
  *ngIf="flights.length !== 0 ; else loading">
  <div
    class="flight-wrapper"
    *ngFor="let flight of flights"
    >
    <app-flights-item
      [flight]="flight"
      class="flight-item"
      in-viewport
      (inViewportAction)="action($event)">
    </app-flights-item>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
