@import '../../styles.scss';

.airline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: white;
  transition: 0.4s;
}

.flights-wrapper {
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  margin-left: 300px;
}

.flight-wrapper {
  height: 100vh;
  margin-top: 25vh;
}
