@import '../../styles.scss';

ul.flights {
  min-height: 200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  @include font (16, 500)

  li {
    padding: 10px;
  }
}

.flights-content {
  overflow: scroll;
  max-height: 400px;
}

.odd {
  background-color: pal(dashboard, light);
}

.even {
  background-color: pal(dashboard, x-light);
}

.flights-table-wrapper {
  padding: 10px;
  background-color: pal(gray, dark);
  color: pal(gray, light);

  > div {
    flex-basis: 10%;

    &:nth-of-type(10),
    &:nth-of-type(11) {
      flex-basis: 5%;
      cursor: pointer;
    }
  }
}

#flightCostChart {
  width: 300px;
  height: 300px;
}
