<div>
  <form (ngSubmit)="onSubmit()" #vaccinationForm="ngForm" class="col">
    <mat-form-field>
      <input matInput name="name" placeholder="Name" [(ngModel)]="vaccination.name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="price" placeholder="Price" [(ngModel)]="vaccination.price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="link" placeholder="Link" [(ngModel)]="vaccination.link" required>
    </mat-form-field>

    <button mat-raised-button color="secondary">Add Vaccination</button>
  </form>
</div>
