<div class="row align-center justify-between">
  <h1>Equipment</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">Add Equipment</button>
</div>

<div class="eq-item row align-center justify-between" *ngFor="let item of equipment">
  <div class="row align-center">
    <img [src]="item.imageURL" alt="" class="thumbnail">
    <p>{{ item.name }}</p>
  </div>

  <div class="row align-center">
    <p>{{ item.price | currency:' PLN' }}</p>

    <a [href]="item.link" target="_blank">
      <mat-icon>info_outline</mat-icon>
    </a>

    <mat-icon (click)="deleteEquipment($event, item)">delete</mat-icon>
  </div>
</div>

<mat-spinner *ngIf="!equipment" [diameter]="25"></mat-spinner>

