@import '../../../styles.scss';

.eq-item {
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid pal(gray, light);

  .thumbnail {
    width: 70px;
    height: 100%;
    margin-right: 10px;
  }

  .mat-icon {
    margin-left: 20px;
  }
}
