<div>
  <form (ngSubmit)="onSubmit()" #timelineItemForm="ngForm" class="col">
    <mat-form-field>
      <input (click)="date.open()" matInput name="date" [matDatepicker]="date" placeholder="Date of flight" [(ngModel)]="data.timelineItem.date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="departure" placeholder="Departure" [(ngModel)]="data.timelineItem.departure" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="arrival" placeholder="Arrival" [(ngModel)]="data.timelineItem.arrival" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="type" placeholder="Type" [(ngModel)]="data.timelineItem.type" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="country" placeholder="Country" [(ngModel)]="data.timelineItem.country" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="city" placeholder="City" [(ngModel)]="data.timelineItem.city" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="address" placeholder="Address" [(ngModel)]="data.timelineItem.address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="note" placeholder="Note" [(ngModel)]="data.timelineItem.note" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="imageURL" placeholder="Image URL" [(ngModel)]="data.timelineItem.imageURL" required>
    </mat-form-field>

    <button mat-raised-button color="primary">
      <span *ngIf="data.isBeingUpdated">Save</span>
      <span *ngIf="!data.isBeingUpdated">Add New Journey Stop</span>
    </button>
  </form>
</div>
