<div class="timeline">
  <div class="timeline-middle"></div>

  <div class="wt-box" *ngFor="let item of timelineItems let even = even; let odd = odd"
       [ngClass]="{odd: odd, even: even}">

    <img [src]="item.imageURL" alt="" class="thumbnail">

    {{ item.date }}

    <div class="row align-center flight">
      {{ item.departure }}
      -
      <mat-icon>flight_takeoff</mat-icon>
      -
      {{ item.arrival }}
    </div>

    <h1>{{ item.country }}, {{ item.city }}</h1>
    <p>{{ item.address }}</p>

    <p>{{ item.note }}</p>

  </div>

  <div class="wt-box" *ngFor="let item of timelineItems let even = even; let odd = odd"
       [ngClass]="{odd: odd, even: even}">

    <img [src]="item.imageURL" alt="" class="thumbnail">

    {{ item.date }}

    <div class="row align-center flight">
      {{ item.departure }}
      -
      <mat-icon>flight_takeoff</mat-icon>
      -
      {{ item.arrival }}
    </div>

    <h1>{{ item.country }}, {{ item.city }}</h1>
    <p>{{ item.address }}</p>

    <p>{{ item.note }}</p>

  </div>

</div>
