<div class="row journey-wrapper">
  <div class="description col align-center">
    <h1>{{ journey.name }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut, beatae distinctio dolorem doloribus eius facere fuga illum ipsum mollitia neque nihil nostrum officiis pariatur quibusdam rerum voluptates, voluptatum.</p>
  </div>
  <div class="landscape" style="background-image: url('https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/i86150a51964976d0/version/1490283314/most-beautiful-landscapes-in-europe-copyright-vicky-sp-european-best-destinations.jpg')">
  </div>
  <div class="sightseeing-wrapper container">
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>
    <h2>Information about something</h2>
    <br>

  </div>
  <div class="more"></div>
</div>
