@import '../styles.scss';

.wt-main {
  width: calc(100vw - 120px);
  margin-left: 120px;
  min-height: 100vh;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: pal(dashboard);
  position: relative;
}
