@import '../../../../styles.scss';

.wt-navigation {

  &-wrapper {
    width: 120px;
    background-color: pal(dashboard, dark);
    height: 100vh;
    @include font-size(16);
    display: inline-block;
  }

  &__item {
    width: 120px;
    height: 100px;

    a {
      color: pal(gray, light);
      @include font(14, light);
      width: inherit;
      height: inherit;
    }

    &.active {
      background-color: pal(purple, dark);
      transition: background-color 0.3s ease;
    }
  }
}
