<div class="flight">
  <div class="date-wrapper">
    <p class="date">
      {{ flight.date }}
    </p>
    <div class="date-underline">
      <div class="date-underline--active"></div>
    </div>
  </div>

  <div class="flight-box row">
    <div [ngStyle]="{'background-image': flightImage}" class="flight-image">

    </div>
    <div class="flight-details col justify-around">
      <div class="row align-center justify-around">
        <div class="col departure">
          <p class="airport-name">
            {{ flight.from.slice(0, 3).toUpperCase() }}
          </p>
        </div>
        <mat-icon>
          flight_takeoff
        </mat-icon>
        <div class="arrival">
          <p class="airport-name">
            {{ flight.to.slice(0, 3).toUpperCase() }}
          </p>
        </div>
      </div>

      <hr>

      <div class="row align-center justify-around">
        <div class="col-xs-6 col">
          <h5>Airline</h5>
          <span>{{ flight.airline}}</span>
        </div>
        <div class="col-xs-6 col">
          <h5>Price</h5>
          <span>{{ flight.maxCost}}</span>
        </div>
        <div class="col-xs-6 col">
          <h5>Duration</h5>
          <span>{{ flight.duration}}</span>
        </div>
      </div>

      <hr>

      <div class="row align-center justify-around">
        <div class="col-xs-4">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog()"
          >
            Check-in
          </button>
        </div>
        <div class="col-xs-4">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog()"
          >
            Boarding Pass
          </button>
        </div>
        <div class="col-xs-4">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog()"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
