@import '../../../styles.scss';

.flight {
  max-width: 70vw;
  margin: 0 auto;
}

.date {
  @include font(24, medium);

  &-underline {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: pal(gray, light);

    &--active {
      position: absolute;
      width: 300px;
      height: 3px;
      left: 0;
      top: 0;
      background-color: pal(blue, x-dark);
    }
  }

  &-wrapper {
    margin-bottom: 20px;
  }
}

.flight-box,
.flight-box-additional {
  background-color: pal(white);
  border-radius: 5px;
  height: 500px;
}

.journey-icon {
  width: 90px;
  height: auto;
}

.airport-name {
  @include font(90, semi);
}

.flight-image {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px 0 0 5px;

}

.flight-details {
  padding: 30px;
  width: 50%;
  color: pal(gray, dark);

  h5 {
    @include font(30, normal);
    color: pal(gray, semi-dark);

    + span {
      @include font(38, semi);
      color: pal(gray, dark);
    }
  }

  hr {
    width: 80%;
    margin: 0 auto;
    background: pal(gray, light);
    height: 1px;
    border: none;
  }
}
