<div class="flight">
  <div class="date-wrapper">
    <p class="date">
      {{ flight.date }}
    </p>
    <div class="date-underline">
      <div class="date-underline--active"></div>
    </div>
  </div>

  <div class="col">
    <div class="flight-box">
      <div class="row">
        <div class="col-4 row align-center justify-center">
          <div class="col departure">
            <p>DEPARTURE</p>
            <p class="airport-name">
              {{ flight.from.slice(0, 3).toUpperCase() }}
            </p>
          </div>
        </div>
        <div class="col-4 row align-center justify-center">
          <div class="flight-description col">
            <img
              src="/assets/images/journey.png"
              alt=""
              class="journey-icon">
            <div class="row justify-between">
              <p>
                Price
              </p>
              <p>
                {{ flight.maxCost}}
              </p>
            </div>
            <div class="row justify-between">
              <p>
                Duration
              </p>
              <p>
                12h
              </p>
            </div>
            <div class="row justify-between">
              <p>
                Airline
              </p>
              <p>
                {{ flight.airline }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-4 row align-center justify-center">
          <div class="arrival">
            <p>
              ARRIVAL
            </p>
            <p class="airport-name">
              {{ flight.to.slice(0, 3).toUpperCase() }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flight-box-additional">
      <div class="row">
        <div class="col-3 row align-center justify-center">
          Check-in
        </div>
        <div class="col-3 row align-center justify-center">
          Boarding Pass
        </div>
        <div class="col-3 row align-center justify-center">
          Departure details
        </div>
        <div class="col-3 row align-center justify-center">
          Arrival details
        </div>
      </div>
    </div>
  </div>
</div>
