@import '../../../styles.scss';

.visa {
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid pal(gray, light);

  .flag {
    width:30px;
    height: 100%;
    margin-right: 10px;
  }

  .mat-icon {
    margin-left: 20px;
  }
}
