<div class="visa row align-center justify-between" *ngFor="let visa of visas">
  <div class="row align-center">
    <img [src]="visa.flag" alt="" class="flag">
    <p>{{ visa.country }}</p>
  </div>

  <div class="row align-center">
    <mat-icon>attach_money</mat-icon>
    <p>{{ visa.price | currency:'PLN' }}</p>

    <mat-icon>access_time</mat-icon>
    <p>{{ visa.difficulty }} days</p>

    <a [href]="visa.link" target="_blank">
      <mat-icon>info_outline</mat-icon>
    </a>
  </div>
</div>

<mat-spinner *ngIf="!visas"></mat-spinner>

