<section class="wt-dashboard">
  <div class="row">
    <div class="box row align-center justify-center col-8">
      <h1>
        Projected budget
      </h1>
      <canvas baseChart
              class="chart"
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
        <!--<mat-spinner *ngIf="!budgetChart"></mat-spinner>-->
    </div>

    <div class="col-4 col">
      <div class="col-12">
        <app-costs></app-costs>
      </div>
      <div class="col-12">
        <h1>
          Days to departure
        </h1>
        <div class="box--small row align-center justify-center ">
          <div
            class="days-left"
          >
            <div class="value">
              <p>
                {{ daysLeft }}
                <br>
                <span class="small">
                days left
              </span>
              </p>
            </div>
          </div>
          <ng-template #loading>
            <mat-spinner></mat-spinner>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
