<section class="wt-dashboard">
  dakjhdsakjldsa
</section>

<div id="budgetChart">
  <mat-spinner *ngIf="!budgetChart"></mat-spinner>
</div>

<div class="row">
  <div id="costGaugeChart">
    <mat-spinner *ngIf="!costGaugeChart"></mat-spinner>
  </div>

  <div class="days-left" *ngIf="budgetChart && costGaugeChart">
    <mat-spinner *ngIf="!budgetChart && !costGaugeChart"></mat-spinner>
    <div class="value">
      <p>
        899
        <br>
        <span class="small">days left</span>
      </p>
    </div>
  </div>
</div>
