@import '../../styles.scss';

.chart {
  width: 100%;
  height: 30vh;
}

.days-left {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 12px solid pal(purple, dark);
  position: relative;
  margin: 60px;

  .value {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font(50, semi);
    color: pal(purple, dark);

    span {
      @include font(25, semi);
    }
  }
}

.box {
  padding: 30px;
  width: 100%;
  height: 80vh;
  margin-bottom: 20px;

  &--small {
    height: 30vh;
  }
}

h1 {
  margin: 20px 0;
}
