<div class="costs-dashboard">

</div>

<div class="divided-costs">
  <div class="row align-center justify-around">
    <div class="col-4">
      <p>Title</p>
      <div id="xCostChart"></div>
      <a routerLink="">
        Go to xxx
      </a>
    </div>
    <div class="col-4">
      <p>Title</p>
      <div id="xCostChart2"></div>
      <a routerLink="">
        Go to xxx
      </a>
    </div>
    <div class="col-4">
      <p>Title</p>
      <div id="xCostChart3"></div>
      <a routerLink="">
        Go to xxx
      </a>
    </div>
  </div>
</div>
