.costs-dashboard {
  height: 50%;
}

.divided-costs {
  height: 50%;
}

#xCostChart {
  width: 300px;
  height: 300px;
}

#xCostChart2 {
  width: 300px;
  height: 300px;
}

#xCostChart3 {
  width: 300px;
  height: 300px;
}
