<div class="costs row align-center">
  <div class="col-12">
    <div class="wt-box col justify-between">
      <h1 class="cost-heading">
        Cost analysis
      </h1>
      <div class="progressbar-background">
        <div class="progressbar progressbar-flights"
             [ngStyle]="{'width': (flightsCosts / (flightsCosts + airbnbCosts + visasCosts + vaccinationsCosts + equipmentCosts) * 100) + '%' }"
        ></div>
        <div class="progressbar progressbar-airbnb"
             [ngStyle]="{
               'width': (airbnbCosts / (flightsCosts + airbnbCosts + visasCosts + vaccinationsCosts + equipmentCosts) * 100) + '%',
               'left': (flightsCosts / (flightsCosts + airbnbCosts + visasCosts + vaccinationsCosts + equipmentCosts) * 100) + '%'
             }">
        </div>
        <div class="progressbar progressbar-equipment-other"
             [ngStyle]="{'width': ((visasCosts + vaccinationsCosts + equipmentCosts) / (flightsCosts + airbnbCosts + visasCosts + vaccinationsCosts + equipmentCosts) * 100) + '%'}"
        ></div>
      </div>

      <div class="totals justify-end">
        <span class="value">
          {{ flightsCosts + airbnbCosts + visasCosts + vaccinationsCosts + equipmentCosts }}
        </span>
        <span class="currency">
          PLN
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-4">
      <div class="wt-box row align-center justify-center">
        <div class="row">
          <div class="cost-dot flights"></div>
          <div class="col">
            <h1 class="cost-heading">Flights</h1>
            <div>
              <span class="value">
                {{ flightsCosts }}
              </span>
              <span class="currency">
                PLN
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="wt-box row align-center justify-center">
        <div class="row">
          <div class="cost-dot accomodation"></div>
          <div class="col">
            <h1 class="cost-heading">Accommodation</h1>
            <div>
              <span class="value">{{ airbnbCosts }}</span><span class="currency">PLN</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="wt-box row align-center justify-center">
        <div class="row">
          <div class="cost-dot eq"></div>
          <div class="col">
            <h1 class="cost-heading">Equipment and Other</h1>
            <div>
              <span class="value">
                {{ visasCosts + vaccinationsCosts + equipmentCosts }}
              </span>
              <span class="currency">
                PLN
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
