<div class="costs row align-center">
  <div class="col-4">
    <div class="wt-box row align-center justify-center">
      <h1>Flight Costs</h1>
      <div id="xCostChart"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="wt-box row align-center justify-center">
      <h1>Accommodation Costs</h1>
      <div id="xCostChart2"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="wt-box row align-center justify-center">
      <h1>Equipment and Other Costs</h1>
      <div id="xCostChart3"></div>
    </div>
  </div>
</div>
