div {
  display: inline-block;
}

#allCostChart {
  width: 50%;
  height: 50%;
}
#xCostChart {
  width: 25%;
  height: 25%;
}

#xCostChart2 {
  width: 25%;
  height: 25%;
}

#xCostChart3 {
  width: 25%;
  height: 25%;
}
