$palette-colors: (
  black: (
    base: #000
  ),
  gray: (
    ultra-light: #f8f9fc,
    x-light: #f5f7fc,
    light: #eceef3,
    mid-light: #d3d7dc,
    base: #aebac7,
    light-dark: #abb4bd,
    semi-dark: #99a3ae,
    dark: #4e576e
  ),
  white: (
    base: #fff,
  ),
  red: (
    x-light: #f85A44,
    light: #d44c46,
    base: #c5424d,
    dark: #9f3351,
    x-dark: #912b54
  ),
  blue: (
    ultra-light: #6dd2bf,
    x-light: #2aa8a7,
    light: #289fa7,
    base: #268298,
    mid-dark: #26698D,
    dark: #275584,
    x-dark: #2a4475,
  ),
  purple: (
    x-light: #a74473,
    light: #a04157,
    base: #7c395c,
    dark: #663264,
    x-dark: #593166
  ),
  salmon: (
    light: #de9174,
    base: #d8a487
  ),
  dashboard: (
    x-light: #f5f7fc,
    light: #eceef3,
    base: #f8f9fc,
    dark: #16191c,
  )
);


@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palette-colors, $palette), $tone);
}

@function pal($palette, $tone: 'base') {
  @return palette($palette, $tone);
}
